In [7]:
import pandas as pd

#read csv file 
df = pd.read_csv("employees.csv")
df.head() #show first 5 recoreds

df.columns = ['first_name', 'gender', 'salary', 'bonus', 'team'] #rename columns


df = df.drop(['first_name'], axis=1) #delete first name column

df.salary.fillna(df.salary.mean(),inplace=True) #fill missing values in salary using the mean value

df.bonus.fillna(df.bonus.mean(),inplace=True) #fill missing values in bonus using the mean value

print(df[0:10])

   gender    salary   bonus                  team
0    Male   97308.0   6.945             Marketing
1    Male   61933.0   4.170                Others
2  Female  130590.0  11.858               Finance
3    Male  138705.0   9.340               Finance
4    Male  101004.0   1.389       Client Services
5    Male  115163.0  10.125                 Legal
6  Female   65476.0  10.012               Product
7  Female   45906.0  11.598               Finance
8  Female   95570.0  18.523           Engineering
9  Female  139852.0   7.524  Business Development

In [8]:
#bulding dictionary of gender
key_gender_dict = 0
gender_dict = {}
for value in df.gender.unique():
    gender_dict[key_gender_dict] = value
    key_gender_dict +=1
print(gender_dict)

#convert values of gender to numeric using dictionary 
gender = df['gender']
for index in gender.index:
    if gender[index] == 'Male':
        df.gender[index] = 0
    elif gender[index] == "Female":
        df.gender[index] = 1
print(df[0:10])

{0: 'Male', 1: 'Female'}
  gender    salary   bonus                  team
0      0   97308.0   6.945             Marketing
1      0   61933.0   4.170                Others
2      1  130590.0  11.858               Finance
3      0  138705.0   9.340               Finance
4      0  101004.0   1.389       Client Services
5      0  115163.0  10.125                 Legal
6      1   65476.0  10.012               Product
7      1   45906.0  11.598               Finance
8      1   95570.0  18.523           Engineering
9      1  139852.0   7.524  Business Development

In [9]:
#bulding dictionary of team
key_team_dict = 0
team_dict = {}
for value in df.team.unique():
    team_dict[key_team_dict] = value
    key_team_dict +=1
print(team_dict)

#convert values of team to numeric using dictionary 
team = df['team']
for index in team.index:
    for key in team_dict:
        if team[index] == team_dict[key]:
            df.team[index] = key
            break
print(df[0:10])

{0: 'Marketing', 1: 'Others', 2: 'Finance', 3: 'Client Services', 4: 'Legal', 5: 'Product', 6: 'Engineering', 7: 'Business Development', 8: 'Human Resources', 9: 'Sales', 10: 'Distribution'}
  gender    salary   bonus team
0      0   97308.0   6.945    0
1      0   61933.0   4.170    1
2      1  130590.0  11.858    2
3      0  138705.0   9.340    2
4      0  101004.0   1.389    3
5      0  115163.0  10.125    4
6      1   65476.0  10.012    5
7      1   45906.0  11.598    2
8      1   95570.0  18.523    6
9      1  139852.0   7.524    7